<div class="container-fluid bg-light m-0">
    <div class="container">
        <div class="row aling-item-center">
            <div class="col-12 text-light mt-4">
            <div class="d-grid gap-2">
                <a href="http://localhost:3000/admin/productos" class="btn btn-primary">Productos ABM</a>
                <a href="/admin/categorias" class="btn btn-primary">Categorias ABM</a>
                <a href="/admin/usuarios" class="btn btn-primary">Usuario ABM</a>
                <a href="/admin/empleados" class="btn btn-primary">Empleados ABM</a>
            </div>
            </div>
        </div>
    </div>
</div>