<div class="container-fluid bg-dark m-0" style="height: 100vh">
    <div class="row justify-content-center aling-item-center">
        <div class="col-4 bg-light">
                <form method="POST" action="/registro/create">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="pass" class="form-label">Password</label>
                        <input type="password" class="form-control" id="pass" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label">Mail</label>
                        <input type="email" class="form-control" id="mail" name="email">
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </form>
        </div>
    </div>
</div>