<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{user.nombre}} {{user.apellido}}</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sit tempora commodi laboriosam praesentium sapiente. Qui perspiciatis nisi 
                        explicabo voluptatem asperiores dolor, mollitia enim veniam, optio omnis aliquid 
                        exercitationem facere quibusdam.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>