<div class="container">
    <div class="row">
        {{#each productos}}
            <div class="col mt-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}}</h5>
                        <p class="card-text">Categoria: {{nombreCategoria}}</p>
                        <a href="/productos/single/{{id}}" class="btn btn-primary">Ver Mas</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>